.et-help-center-categories {

  .e-filter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 100%;
    gap: 1rem; 

    .e-filter-item {
      box-sizing: border-box;
      flex-basis: calc(33.333333% - 1rem);

      @media screen and (max-width: 1024px) {
        flex-basis: calc(50% - 1rem);
      }

      @media screen and (max-width: 768px) {
        flex-basis: 100%;
      }
    }
  }
}