.er-slider {
  width: 100%;
  padding-bottom: 2rem;

  .swiper-slide {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}